@model ApartmentsRentalManagement1.Models.Employee

@{
    ViewBag.Title = "Employee Details";
    Layout = "~/Views/Shared/_Management.cshtml";
}

<h2 class="bold blue common-font text-center">Employee Details</h2>

<hr />

<div class="containment">
    <dl class="dl-horizontal common-font">
        <dt>@Html.DisplayNameFor(model => model.EmployeeId)</dt>
        <dd>@Html.DisplayFor(model => model.EmployeeId)</dd>

        <dt>@Html.DisplayNameFor(model => model.EmployeeNumber)</dt>
        <dd>@Html.DisplayFor(model => model.EmployeeNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.EmploymentTitle)</dt>
        <dd>@Html.DisplayFor(model => model.EmploymentTitle)</dd>
    </dl>
</div>

<p class="text-center">
    @Html.ActionLink("Edit/Update Employee Record", "Edit", new { id = Model.EmployeeId }, htmlAttributes: new { @class = "arm-lead" }) ::
    @Html.ActionLink("Delete Employee Record", "Delete", new { id = Model.EmployeeId }, htmlAttributes: new { @class = "arm-lead" }) ::
    @Html.ActionLink("Employees", "Index", null, htmlAttributes: new { @class = "arm-lead" })
</p>